<h1>Listing meals</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Time</th>
    <th>Comments</th>
    <th>Pays for you</th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><a href="mailto:<%=h meal.email %>"> <%=h meal.name %></td>
    <td><%=h meal.location %></td>
    <td><%=h meal.time %></td>
    <td><%=h meal.comments %></td>
    <td><%=h meal.havedba ? "Yes" : "No"  %></td>
    <% if (meal.uid == @uid)  %>
    <!-- <td><%= link_to 'Edit', edit_meal_path(meal) %></td>  -->
    <td><%= link_to 'Delete', meal, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New meal date', new_meal_path %>
