<h1>New meal date</h1>

<% form_for(@meal) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Where do you want to eat?" %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label "Select a time to eat:" %>
    <%= calendar_date_select_tag "meal[time]", DateTime.now(), :time => true, :default_time => DateTime.now() %>
  </p>
  <p>
    I have spare DBA:    <%= f.check_box :havedba %>
  </p>
  <p>
    <%= f.label "Anything else you want to say?" %>
    <%= f.text_field :comments %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', meals_path %>
